{% extends 'basetemp.html' %}

{% block content %}
<div class="container">
<div class="row col-sm-12">
 {% for post in posts %}
      <div class="card col-sm-3 m-4 p-4 border-success">
          <p>Exporter: {{ post.exporterName }}</p>
          <h2><a href="">{{ post.commodityName }}</a></h2>
          <p>Price: {{ post.price }}</p>
          <p>Quantity: {{ post.quantityAvailable }}</p>
          <p>{{ post.description|linebreaksbr }}</p>
          <p> </p>
      </div>
  {% endfor %}
</div>
</div>
{% endblock %}
